* {
    margin: 0;
    padding: 0;
}

.main {

    height: 100vh;
    width: 100vw;
      background-image: linear-gradient(135deg,rgb(136, 141, 142),pink);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;

}

.container {
   background-image: linear-gradient(135deg,rgb(0, 251, 255),pink);
    height: 400px;
    width: 300px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;


}

h1 {
    margin-top: -40px;
    color: rgb(0, 140, 255);


}

.box {
    margin-top: 55px;
}

button {
    padding: 5px;
    margin-top: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 8);
    border-radius: 5px;
    font-size: 14px;
}

a {
   
    font-size: 12px;
    margin-top: 30px;
    text-decoration: none;
}

input {
    margin-top: 10px;
}