*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(135deg,rgb(136, 141, 142),pink);
}
.pf{
    height: 120px;
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.pf img{
    border-radius: 150px;
}
.container{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(135deg,rgb(0, 251, 255),pink);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
input{
    width: 70%;
    margin-left: 15%;
    margin-top: 30px;
}
button{
    height: 30px;
    width: 80px;
    margin-top: 25px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 8);
}
a{
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
}

